.card-container{
display: flex;
justify-content: center;
align-items: center;
gap: 0.5rem;
}

.card{
  padding: 12px;
  margin-top: 22px;
  border-radius: 20px;
  height: max-content;
  width: 100%;
  background-color: lightblue;
}

.card h1{
  color: teal;
  font-weight: 500;
}

.container{
  padding: 0px 12px;
}

.card-img{
     width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 12px;
}

.combine{
  display: flex;
  width: 100%;
  height: max-content;
  justify-content: space-between;
  align-items: center;
}